<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245388658214-mukj0rvjrr6i5j3h0ribfl56hnh4d2e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245388658214-mukj0rvjrr6i5j3h0ribfl56hnh4d2e5</string>
	<key>API_KEY</key>
	<string>AIzaSyDVVuFXhD7ut5e9InVy1PN4OXBjjhsESpY</string>
	<key>GCM_SENDER_ID</key>
	<string>245388658214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterReg</string>
	<key>PROJECT_ID</key>
	<string>flutter-reg</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-reg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245388658214:ios:6bdf6eddd41f566ec208e7</string>
</dict>
</plist>